## Jump Statements
1. Break Statement
2. Continue Statement

1. Break statement
    - Break statement is used to terminate the loop.

In [1]:
# Example for break statement
for i in range(1,6): # i=1, i=2, i=3
    if i == 3:
        break
    print(i)

1
2

In [2]:
for i in range(1,6):
    print(i)
    if i==3:
        break

1
2
3

In [3]:
for i in range(1,2):
    for j in range(1,11):
        print(j,'*',i,'=',j*i)

1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10

In [4]:
for i in range(1,6): # i=1,i=2,i=3
    if i==3:
        break
    for j in range(1,11): # j=1,j=2,j=3,j=4....j=10
        print(j,'*',i,'=',j*i)
    print('\n')

1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10


1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [5]:
for i in range(1,6): # i=1,i=2,i=3
    for j in range(1,11): # j=1,j=2,j=3,j=4....j=10
        if i==3:
            break
        print(j,'*',i,'=',j*i)
    print('\n')

1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10


1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20




1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40


1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

2. Continue Statement
     * It is used to skip all remaining statements in the loop and move controls back to the top of the loop

In [6]:
for i in range(1,6):
    if i==3:
        continue
    print(i)

1
2
4
5

In [8]:
for i in range(1,6):
    if i==3:
        break
    print(i)

1
2

In [7]:
for i in range(1,6): # i=1,i=2,i=3
    if i==3:
        continue
    for j in range(1,11): # j=1,j=2,j=3,j=4....j=10
        print(j,'*',i,'=',j*i)
    print('\n')

1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10


1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20


1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40


1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

## Functions
- A function is a set of statements that take inputs, do some specific computation and return output
- Functions are reusable.

### Parameters
- A parameter is a variable used to define a particular value during a function definition
### Arguments
- An arguments is a value passed to a function at the time of function calling
### Defining a Function
- In python a function is defined using the "def" keyword

    Syntas :- def function_Name(parameters):
                  statement1
                  statement2
                  .
                  .
                  statementN
              function_Name(arguments)

In [5]:
# difference between return and print keywords
def hi(y):
    print('Hi')
    return y+1
x = hi(5)

Hi

In [6]:
def hi(y): # y=5
    print('Hi')
    return y+1
x = hi(5)
print(x)

Hi
6

In [18]:
def hi():
    print(5)
    
def hello():
    return 7

x = hi()
y = hello()
print(x)
print(y)

5
None
7

In [11]:
def add(x,y): # x=5,y=3
    s = x+y #s =5+3-->8
    print(s)
    
add(5,3)

8

In [14]:
def add(x,y): # x=5,y=3
    return x+y
    
a = add(5,3)

In [15]:
def add(x,y): # x=5,y=3
    return x+y
    
a = add(5,3)
print(a)

8

In [16]:
def add(x,y): # x=5,y=3
    return x+y
    
print(add(5,3))

8

### Types of Functions in Python
1. Without arguments & without return value
2. Without arguments & with return value
3. with arguments & without return value
4. with arguments & with return value

1. without arguments and without return value

In [19]:
def add():
    a,b = 5,3
    print(a+b)

In [20]:
add()

8

2. without arguments and with return value

In [22]:
def mul():
    a,b = 5,3
    return a*b

x = mul()
print(x)

15

In [23]:
def mul():
    a,b = 5,3
    return a*b

print(mul())

15

3. With arguments and without return value

In [26]:
def mul(a,b):
    print(a*b)
    
mul(4,6)

24

4. with arguments and with return value

In [25]:
def add(a,b):
    return a+b
print(add(5,3))

8

## Types of Arguments in python
- In pyton we have two types of arguments. Those are
    1. Actual Arguments
    2. Formal Arguments
- Actual Arguments
    1. Position
    2. Keyword
    3. Default
    4. Variable Length Argument

In [27]:
# Basic Program 
def add(a,b): # These are formal arguments
    print(a+b)
add(2,3) # Actual arguments

5

1. Position Argument

In [28]:
def person(name,age):
    print("Name is:",name)
    print("Age is:",age)

In [29]:
person('Keerthi',22)

Name is: Keerthi
Age is: 22

In [30]:
def person(name,age):
    print("Name is:",name)
    print("Age is:",age)
    
name = input()
age = int(input())
person(name,age)

keerthi
22
Name is: keerthi
Age is: 22

In [31]:
def person(name,age):
    print("Name is:",name)
    print("Age is:",age)
    
x = input()
y = int(input())
person(x,y)

keerthi
20
Name is: keerthi
Age is: 20

In [32]:
def person(name,age):
    print("Name is:",name)
    print("Age is:",age)
    
x = input()
y = int(input())
person(y,x)

keerthi
12
Name is: 12
Age is: keerthi

In [33]:
def person(name,age):
    print("Name is:",name)
    print("Age is:",age-6)
    
x = input()
y = int(input())
person(y,x)

keerthi
23
Name is: 23

TypeError: unsupported operand type(s) for -: 'str' and 'int'