## Comprehensions
1. What is comprehension?
- We can create new sequences using a given sequences. This is called Comprehension
- It is a way of writing a concise block of code to generate a sequence which can be a list,dictionary, set and generator.

### Advantages
- Makes code simple and concise
- Reduces the number of lines of code

### Types of Comprehensions in python
1. List Comprehension
2. Dictionary Comprehension
3. Set Comprehension
4. Generator Comprehension

### 1. List Comprehension
- It is a way to define and create lists based on existing lists.
- Faster than normal functions and loops for creating lists.

In [2]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [3]:
li = []
for i in range(1,11):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Using List Comprehension
s = [i for i in range(1,11)]
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
lst = [1,2,3,4,5]
lst2 = []
for i in lst:
    lst2.append(i**3)
print(lst2)

[1, 8, 27, 64, 125]

In [8]:
i=2
print(i*i*i)

8

In [11]:
li = [1,2,3,4,5]
[n**3 for n in li ]

[1, 8, 27, 64, 125]

In [9]:
li = input().split()
print(li)
[int(n)**3 for n in li]

1 2 3 4 5
['1', '2', '3', '4', '5']

[1, 8, 27, 64, 125]

In [14]:
li = input().split()
for i in li:
    print(type(i))

1
<class 'str'>

In [15]:
[e for e in range(1,6) if e%2==0]

[2, 4]

In [16]:
# Nested if with list comprehension
[i for i in range(1,51) if i%2==0 if i%5==0]

[10, 20, 30, 40, 50]

In [17]:
li = [1,2,5,33,45,66]
l2 = []
for i in li:
    if i%2==0:
        l2.append('even')
    else:
        l2.append('odd')
print(l2)

['odd', 'even', 'odd', 'odd', 'odd', 'even']

In [18]:
['even' if i%2==0 else 'odd' for i in [1,2,4,3,5,6]]

['odd', 'even', 'even', 'odd', 'odd', 'even']

In [19]:
#input = ['online programming','for all students']
#output = ['online','programming','for','all','students']
lst1 = ['online programming','for all students']
lst2 = []
for lines in lst1:
    print(lines)

online programming
for all students

In [21]:
lst1 = ['online programming','for all students']
lst2 = []
for lines in lst1:
    for word in lines.split():
        #print(word)
        lst2.append(word)
print(lst2)

['online', 'programming', 'for', 'all', 'students']

In [24]:
# nested loops using list comprehension

lst1 = ['online programming','for all students']
[words for lines in lst1 for words in lines.split()]

['online', 'programming', 'for', 'all', 'students']

In [25]:
[words for lines in ['online programming','for all students'] for words in lines.split()]

['online', 'programming', 'for', 'all', 'students']

In [2]:
# if...else using list comprehension
# input = ['keerthi','apssdc','123','apssdc123']
# output = ['string','string','digit','alphanumeric']
n = input().split()
l2 = []
for i in n:
    if i.isalpha():
        l2.append('string')
    elif i.isdigit():
        l2.append('digit')
    else:
        l2.append('alphanumeric')
        
print(l2)

apssdc 12345 apssdc123
['string', 'digit', 'alphanumeric']

In [3]:
n = input().split()
l2 = []
for i in n:
    if i.isalpha():
        l2.append('string')
    else:
        if i.isdigit():
            l2.append('digit')
        else:
            l2.append('alphanumeric')
        
print(l2)

keerthi apssdc 134 apssdc123
['string', 'string', 'digit', 'alphanumeric']

In [5]:
li=['keerthi','123','alphanumeric','apssdc123']
['string' if i.isalpha() else 'digit' if i.isdigit() else 'alphanumeric' for i in li ]

['string', 'digit', 'string', 'alphanumeric']

In [6]:
li=input().split()
['string' if i.isalpha() else 'digit' if i.isdigit() else 'alphanumeric' for i in li ]

keerthi 1234 apssdc123

['string', 'digit', 'alphanumeric']

In [1]:
n = input().split()
n

1 2 3 4 5

['1', '2', '3', '4', '5']

### Dictionary Comprehension
- Dictionary is a method for transforming one dictionary into another dictionary

Syntax : {key:value for vars in iterable}

In [10]:
lst = [1,2,3]
res_dct = {var:var**3 for var in lst}
res_dct

{1: 1, 2: 8, 3: 27}

In [16]:
lst = [1,2,3,2,2,2,1,1,1,1,3]
res_dct = [lst.count(i) for i in lst]
print(res_dct)
print(dict(list(zip(lst,res_dct))))

[5, 4, 2, 4, 4, 4, 5, 5, 5, 5, 2]
{1: 5, 2: 4, 3: 2}

In [17]:
# If conditional using dictionary comprehension
dic = {'nirmala':20,'hema':23,'mounika':43,'keerthi':56}
res_dict = {k:v for (k,v) in dic.items() if v%2==0}
res_dict

{'nirmala': 20, 'keerthi': 56}

### Set Comprehension

In [18]:
li = [1,2,3,4,5]
{x for x in li if x%2!=0}

{1, 3, 5}

In [19]:
{x**3 for x in li}

{1, 8, 27, 64, 125}

### Generator Comprehension

In [22]:
li = [1,2,3,4,5]
c = (i**3 for i in li)
print(c)
for i in c:
    print(i)

<generator object <genexpr> at 0x000001CC840CE660>
1
8
27
64
125