## Python Basics

In [86]:
# single line comment
print("Online Training on Python Programming")

Online Training on Python Programming

In [87]:
a = 12
print('single variable:',a)

single variable: 12

In [5]:
"""
Multi
line 
comment
"""
print("Online Training on Python Programming")

Online Training on Python Programming

In [89]:
print(100* ' keerthi\t')

 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi	 keerthi

In [88]:
print(100* ' keerthi\n')

 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi
 keerthi

## Python Keywords
- Keywords are the reserved words in python.
- We can not use a keyword as a variable name, function name or any other identifier

In [14]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
import keyword
res = keyword.kwlist
print(len(res))

## Variable
- A python variable is a reserved memory location to store values

In [15]:
a = 123 # single variable assignment
a

123

In [16]:
a = 'apssdc'
a

'apssdc'

In [20]:
# multiple variable assignment with multiple values

x,y,z = 12,13,14
# print(x)
# print(y)
# print(z)
print(x,y,z)

12 13 14

In [21]:
print(x,'\n',y,'\n',z)

12
 13
 14

In [24]:
x,y,z = 12,13,14
x

12

In [25]:
y

13

In [27]:
# multiple variable assignment
m = 12
q=w=e=m
print(q)
print(e)

12
12

## Data Types and Conversions
- Int
- Float
- String

In [28]:
n1 = 123
type(n1)

int

In [29]:
n2 = 14.6
type(n2)

float

In [30]:
n3 = 'keerthi'
type(n3)

str

In [33]:
n1 = 13.2
n2 = int(n1)
print(n2)
print(type(n2))

13
<class 'int'>

## Indentation

In [35]:
n1 = 13
n2 = 12
if n1>n2:
    print('true')

true

## Reading input dynamically

In [37]:
x = input()
print(x)
print(type(x))

apssdc
apssdc
<class 'str'>

In [43]:
a = input()
b = input()
print(type(a),type(b))
print('Addition is:',a+b)

2
3
<class 'str'> <class 'str'>
Addition is: 23

In [46]:
a = int(input())
b = int(input())
print('Addition is:',a+b)
print(a+b)

2
3
Addition is: 5
5

## Operators
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators
7. Bitwise Operators

1. Arithmetic Operator

In [47]:
a,b = 5,3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b) # Floor Division
print(a**b) # Exponentiation

8
2
15
1.6666666666666667
2
1
125

In [48]:
import math

In [52]:
print(math.ceil(5/3))

2

2. Assignment Operators

In [53]:
a = 12
a

12

In [54]:
a += 3 # a = a+3
a

15

In [55]:
b = 12
b -= 2 # b = b-2
b

10

In [56]:
a =+3

In [57]:
a

3

3. Comparison Operator

In [58]:
n1,n2 = 5,3
print(n1==n2)

False

In [63]:
print(n1!=n2)
print(n1>n2)
print(n1<n2)
print(n1>=n2)
print(n1<=n2)

True
True
False
True
False

In [67]:
n1,n2 = 5,5
print(n1==n2)
print(n1!=n2)
print(n1>n2)
print(n1<n2)
print(n1>=n2)
print(n1<=n2)

True
False
False
False
True
True

4. Logical Operators

    and, or, not

In [64]:
a = 5
print(a<6 and a>2)

True

In [72]:
(a<6 or a<2)

True

In [69]:
not(a<6 and a>2)

False

5. Identity Operators
    
    is, is not

In [70]:
x,y = 5,3
print(x is y)

False

In [71]:
print(x is not y)

True

6. Membership Operators

    in, not in

In [73]:
x = ['apple','banana','grapes']
print('apple' in x)

True

In [74]:
print('apple' not in x)

False

In [90]:
x = ['apple','banana','grapes']
y = ['apple','banana','grapes']
print(x is y)

False

In [92]:
for i in x: # i='apple',i='banana'
    for j in y: # j = 'apple', j='banana', j = 'grapes'
        if i is j: # True
            print('True')
        else: # False,False
            print('False')

True
False
False
False
True
False
False
False
True

In [80]:
for i in x:
    print(i)

apple
banana
grapes

7. Bitwise Operators

    &, |, ^, >>, <<

In [81]:
5 & 3

1

In [82]:
5 | 3

7

In [83]:
5 ^3

6